.cart-items-block {
  display: flex;
  flex-direction: column;
  background-color: #f2f7fc;
  width: 70vw;
  height: 50vh;
  padding-top: 30px;
  padding-bottom: 20px;
  border: 1px solid #cdd0d1;
}

@media screen and (max-width: 576px) {
  .cart-items-block {
    width: 85vw;
    padding-top: 10px;
  }
}

.heading-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart-item-pic-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quantity-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.quantity-button {
  width: 22px;
  height: 18px;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
}
.quantity {
  font-family: 'roboto';
  font-size: 12px;
  margin: 10px;
}
@media screen and (max-width: 576px) {
  .quantity-button {
    width: 18px;
  }
  .quantity {
    margin: 4px;
  }
}
.cart-item-img {
  height: 70px;
  width: 100px;
  border-radius: 6px;
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .cart-item-img {
    width: 70px;
    height: 50px;
  }
}

.dotted-line {
  text-align: center;
  font-weight: 400;
  color: #cdd0d1;
}
.mobile-dotted-line {
  display: none;
  text-align: center;
  font-weight: 400;
  color: #cdd0d1;
}
@media screen and (max-width: 576px) {
  .dotted-line {
    display: none;
  }
  .mobile-dotted-line {
    display: flex;
  }
}

.cart-checkout-container {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-heading {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 14px;
  color: black;
  margin-bottom: 15px;
}
@media screen and (max-width: 576px) {
  .cart-heading {
    font-size: 10px;
  }
}
.item-name-text {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 13px;
  color: black;
}
@media screen and (max-width: 576px) {
  .item-name-text {
    font-size: 9px;
  }
}

.cart-item-price {
  display: flex;
  align-items: center;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 13px;
  color: #ff8c00;
}
.price-text {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 15px;
  color: black;
}
.place-order-button {
  background-color: #ff8c00;
  border-radius: 6px;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  margin-top: 10px;
  height: 30px;
  width: 80px;
  cursor: pointer;
  border: 0px;
}
