.cart-page-container-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.cart-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
