.restaurant-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 23vw;
  height: 23vh;
  margin: 20px;
}
.restaurant-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}
.rating-block {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.restaurant-image {
  height: 90px;
  width: 150px;
  border-radius: 5px;
}
.restaurant-name {
  font-family: 'roboto';
  font-size: 13px;
  font-weight: bold;
}
.restaurant-cuisine {
  font-family: 'roboto';
  font-size: 10px;
}
.rating-icon {
  color: #f0bc43;
}
.restaurant-ratings {
  font-family: 'roboto';
  font-size: 10px;
  font-weight: bold;
}
.restaurant-total-ratings {
  font-family: 'roboto';
  font-size: 10px;
  font-weight: bold;
  color: #a69f9a;
}

@media screen and (max-width: 576px) {
  .restaurant-card {
    width: 45vw;
    height: 15vh;
    margin-bottom: 30px;
  }
  .restaurant-name {
    font-size: 10px;
  }
  .restaurant-cuisine {
    font-size: 7px;
  }
  .restaurant-ratings {
    font-size: 7px;
  }
  .restaurant-total-ratings {
    font-size: 6px;
  }
}
