.restaurantDetail-container-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurantDetail-container {
  background-image: linear-gradient(to top, #080501, #4d4a46);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  border: 1px outset;
  box-shadow: 5px 10px 18px #080501;
}
.restaurantDetail-content-container {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restaurantDetail-img {
  height: 35vh;
  width: 23vw;
  border-radius: 7px;
}
.rating-cost-block {
  display: flex;
}
.restaurantDetail-info-container {
  list-style-type: none;
}
.restaurantDetail-name {
  font-family: 'roboto';
  font-weight: bold;
  font-size: 27px;
  color: #ffffff;
  margin-bottom: 8px;
}
.restaurantDetail-para {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

.restaurantDetail-info-lists {
  margin-top: 10px;
  margin-right: 15px;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.restaurantDetail-info-lists-bar {
  margin-top: 10px;
  margin-right: 18px;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
}
.restaurantDetail-info-lists-bottom {
  margin-top: 10px;
  margin-right: 15px;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
}
.restaurantDetail-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
}
