.item-image {
  height: 20vh;
  width: 15vw;
  border-radius: 8px;
}
.restaurantItems-block {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 35px;
  width: 35vw;
}

@media screen and (max-width: 576px) {
  .restaurantItems-block {
    width: 50vw;
  }
  .item-image {
    width: 26vw;
    height: 20vh;
  }
}

.item-info {
  list-style-type: none;
}
.item-name {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  color: black;
  margin-bottom: 6px;
}

@media screen and (max-width: 576px) {
  .item-name {
    font-size: 10px;
  }
}

.food-type {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 10px;
  color: #8c8b8b;
}
.item-cost {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 13px;
  color: black;
  margin-bottom: 6px;
}
.item-rating-icon {
  color: #ff8c00;
  margin-right: 4px;
}
.item-rating {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 12px;
  color: black;
  margin-bottom: 6px;
}
.item-add-button {
  background-color: transparent;
  border: 2px solid #ff8c00;
  border-radius: 10px;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 12px;
  color: #ff8c00;
  margin-bottom: 6px;
  height: 30px;
  width: 60px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .food-type {
    font-size: 6px;
  }
  .item-cost {
    font-size: 10px;
  }
  .item-add-button {
    margin-top: 10px;
  }
}
