.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-block {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (max-width: 576px) {
  .carousel-block {
    margin: 10px;
  }
}
